C31.PKS_C3_FUNC_01.GET_MTR_COLL_CD_FLAG


    FUNCTION GET_MTR_COLL_CD_FLAG
       ( as_wk_fg              IN       VARCHAR2,    /* 조회구분(11.계량기교체일반 12.계량기교체무전표 21.계량기폐전일반 22.계량기폐전미회수 23.계량기변경공사삭제) */
         as_mtr_num            IN       VARCHAR2,    /* 계량기번호       */
         as_mtr_base_ymd       IN       VARCHAR2,    /* 계량기기준일자   */
         as_mtr_seq            IN       VARCHAR2     /* 계량기기준순번   */
         )    /* 계량기신수리구분 */
    RETURN VARCHAR2

    IS
        ls_remove_mtr_flag  VARCHAR2(20) := NULL  ;      /* 계량기모델명 */
    BEGIN
        /********************************************************************/
        /* Database 로부터 모델명 Get                                       */
        /********************************************************************/
        BEGIN

              CASE WHEN as_wk_fg = '11' THEN --11.계량기교체일반
                    SELECT 
                       CASE WHEN A.BEFO_MTR_GRD >= 10 OR A.BEFO_MTR_GRD IN (2,3,5,7) THEN '20' --KS규격 2,3,5,7등급 계량기는 철거계량기구분을 폐기로. 
                            WHEN A.BEFO_MTR_KIND = '70' AND A.MTR_REPL_WHY = '100' THEN '20' -- 각도변형 노후교체는 폐기. (요청서번호 : 2023030139)
                            WHEN A.BEFO_MTR_KIND IN ('10','30','70','80') THEN
                            CASE WHEN A.BEFO_MTR_MODEL_CD BETWEEN '10546' AND '10551'
                                   OR A.BEFO_MTR_MODEL_CD BETWEEN '10633' AND '10638' THEN '20' -- 동양계기 모델은 반납시 폐기로 분류. (요청서번호 2019060018)
                                 WHEN A.MTR_REPL_WHY = '100' AND A.BEFO_MTR_GRD = 6    AND A.BEFO_MTR_NEW_FIX_FLAG = '10' AND C.MAKER_NUM = '10001'  THEN '20'  -- 극동기전 6등급 신품은 무조건 폐기
                                 WHEN A.MTR_REPL_WHY = '100' AND A.BEFO_MTR_GRD = 2.5  THEN     -- 노후교체일때만 처리하도록 변경 20160205
                                      CASE WHEN SUBSTR(A.BEFO_MTR_ID_NUM,1,2) > SUBSTR(TO_CHAR(SYSDATE,'YYYY')-13,3,2)  THEN '10'      -- 2.5등급 수리품중 제조년12년이전은 폐기, 그외는 재생
                                           ELSE '20'				                        
                                      END
                                 ELSE --C31.PKS_C3_FUNC_01.GET_MTR_COLL_CD_FLAG('1', A.MTR_NUM, A.REPL_TREAT_YMD, A.MTR_REPL_WHY, A.BEFO_MTR_GRD, A.BEFO_MTR_VALID_YM, A.BEFO_MTR_NEW_FIX_FLAG)
                                      CASE WHEN A.MTR_REPL_WHY <> '100'        THEN '30' 
                                           WHEN A.BEFO_MTR_NEW_FIX_FLAG = '20' THEN '20' 
                                           WHEN A.BEFO_MTR_NEW_FIX_FLAG <> '20' AND TO_NUMBER(SUBSTR(A.REPL_TREAT_YMD, 1, 4)) - TO_NUMBER(SUBSTR(A.BEFO_MTR_VALID_YM, 1, 4)) <= 1 THEN '10'
                                      ELSE '20' END      
                                END
                            ELSE '20' END AS REMOVE_MTR_FLAG      --철거계량기구분
                      INTO  ls_remove_mtr_flag
                      FROM  C31.C3BT_MTR_REPL_TREAT A 
                            , C31.C3AT_MTR_MODEL C 
                     WHERE  A.BEFO_MTR_MODEL_CD = C.MTR_MODEL_CD 
                       AND  A.MTR_NUM = as_mtr_num
                       AND  A.REPL_TREAT_YMD = as_mtr_base_ymd;
 
                  WHEN as_wk_fg = '12' THEN --12.계량기교체무전표
                    SELECT  
                        CASE WHEN B.MTR_GRD >= 10 OR B.MTR_GRD IN (2,3,5,7) THEN '20'--KS규격 2,3,5,7등급 계량기는 철거계량기구분을 폐기로. 
                             WHEN B.MTR_KIND = '70' AND A.RESOU_REPL_WHY  = '100' THEN '20' 
                             WHEN B.MTR_KIND IN ('10','30','70','80') THEN
                             CASE WHEN B.MTR_MODEL_CD BETWEEN '10546' AND '10551'
                                   OR B.MTR_MODEL_CD BETWEEN '10633' AND '10638' THEN '20' -- 동양계기 모델은 반납시 폐기로 분류. (요청서번호 2019060018)
                                 WHEN A.RESOU_REPL_WHY  = '100' AND B.MTR_GRD = 6    AND B.MTR_NEW_FIX_FLAG = '10' AND C.MAKER_NUM = '10001'  THEN '20'  -- 극동기전 6등급 신품은 무조건 폐기
                                 WHEN A.RESOU_REPL_WHY  = '100' AND B.MTR_GRD = 2.5  THEN     -- 노후교체일때만 처리하도록 변경 20160205
                                      CASE WHEN SUBSTR(B.MTR_ID_NUM,1,2) > SUBSTR(TO_CHAR(SYSDATE,'YYYY')-13,3,2)  THEN '10'      -- 2.5등급 수리품중 제조년12년이전은 폐기, 그외는 재생
                                           ELSE '20'				                        
                                      END
                                 ELSE --C31.PKS_C3_FUNC_01.GET_MTR_COLL_CD_FLAG('1', A.MTR_NUM, A.NO_BILL_REPL_YMD, A.RESOU_REPL_WHY , B.MTR_GRD, B.MTR_VALID_YM, B.MTR_NEW_FIX_FLAG)
                                     CASE WHEN A.RESOU_REPL_WHY <> '100' THEN '30' 
                                          WHEN B.MTR_NEW_FIX_FLAG = '20' THEN '20' 
                                          WHEN B.MTR_NEW_FIX_FLAG <> '20' AND TO_NUMBER(SUBSTR(A.NO_BILL_REPL_YMD, 1, 4)) - TO_NUMBER(SUBSTR(B.MTR_VALID_YM, 1, 4)) <= 1 THEN '10'
                                     ELSE '20' END      
                                END
                            ELSE '20' END AS REMOVE_MTR_FLAG      --철거계량기구분
                      INTO  ls_remove_mtr_flag
                      FROM  C31.C3BT_NO_BILL_MTR_REPL_INFO A
                            , C31.C3AT_MTR_REPL_HIST B    -- 직전 이력
                            , C31.C3AT_MTR_MODEL     C    -- 계량기모델
                            , C31.C3AT_BULD          D
                            , C31.C3AT_MTR_REPL_HIST E    -- 무전표교체 이력
                     WHERE  A.MTR_NUM     = B.MTR_NUM
                       AND  B.MTR_CHG_YMD || B.MTR_CHG_SEQ = (
                            SELECT MAX(X.MTR_CHG_YMD||X.MTR_CHG_SEQ)
                            FROM   C31.C3AT_MTR_REPL_HIST X
                            WHERE  X.MTR_NUM = B.MTR_NUM
                            AND    X.MTR_CHG_YMD||X.MTR_CHG_SEQ < A.MTR_CHG_YMD || A.MTR_CHG_SEQ
                            )
                       AND  B.MTR_MODEL_CD = C.MTR_MODEL_CD     
                       AND  B.BLD_NUM = D.BLD_NUM
                       AND  A.MTR_NUM = E.MTR_NUM
                       AND  A.MTR_CHG_YMD = E.MTR_CHG_YMD
                       AND  A.MTR_CHG_SEQ = E.MTR_CHG_SEQ
                       AND  A.REPL_JOB_ITEM IN ('10','30')
                       AND  A.MTR_NUM = as_mtr_num
                       AND  A.NO_BILL_REPL_YMD  = as_mtr_base_ymd
                       AND  A.REPL_JOB_ITEM = as_mtr_seq;
 
                  WHEN as_wk_fg = '21' THEN --21.계량기폐전일반
                    SELECT  CASE WHEN A.MTR_GRD >= 10 OR A.MTR_GRD IN (2,3,5,7) THEN '20'--KS규격 2,3,5,7등급 계량기는 철거계량기구분을 폐기로. 
                                 WHEN A.MTR_KIND = '70'  THEN '20' -- 각도변형 재개발_재건축은 폐기. (요청서번호 : 2023030139)
                                 WHEN A.MTR_KIND IN ('10','30','80') THEN
                                 CASE WHEN A.MTR_MODEL_CD BETWEEN '10546' AND '10551'
                                           OR A.MTR_MODEL_CD BETWEEN '10633' AND '10638' THEN '20'  -- 동양계기 모델은 반납시 폐기로 분류. (요청서번호 2019060018)
                                      WHEN A.MTR_GRD = 6    AND A.MTR_NEW_FIX_FLAG = '10' AND D.MAKER_NUM = '10001'  THEN '20'    -- 극동기전 6등급 신품은 무조건 폐기. 40,41걸면 폐기안되는 케이스나오므로 여긴 걸면안됨.
                                      WHEN C.MTR_REMOVE_DEL_WHY IN ('40','41') AND A.MTR_GRD = 2.5  THEN                          -- 재개발,재건축 일때만 처리하도록 변경 20160408
                                           CASE WHEN SUBSTR(A.MTR_ID_NUM,1,2) > SUBSTR(TO_CHAR(SYSDATE,'YYYY')-13,3,2)  THEN '10'   -- 2.5등급 수리품중 제조년12년이전은 폐기, 그외는 재생
                                                ELSE '20'                                     
                                            END
                                      ELSE --C31.PKS_C3_FUNC_01.GET_MTR_COLL_CD_FLAG('2', A.MTR_NUM, '', '', A.MTR_GRD, '', A.MTR_NEW_FIX_FLAG)
                                        CASE WHEN A.MTR_NEW_FIX_FLAG = '20' THEN  '20' 
                                             ELSE '10' END  -- 회수계량기가 수리품은 모두 폐기
                                END    
                            ELSE '20' END AS REMOVE_MTR_FLAG      --철거계량기구분
                      INTO  ls_remove_mtr_flag
                      FROM  C31.C3AT_MTR A 
                           ,C31.C3AT_MTR_REMOVE_DEL C
                           ,C31.C3AT_MTR_MODEL      D
                     WHERE A.MTR_NUM               = C.MTR_NUM 
                       AND A.MTR_MODEL_CD          = D.MTR_MODEL_CD
                       AND C.MTR_NUM = as_mtr_num
                       AND C.MTR_REMOVE_DEL_YMD  = as_mtr_base_ymd
                       AND C.MTR_SUPPLY_STS = as_mtr_seq
                       ;
                       
                  WHEN as_wk_fg = '22' THEN --22.계량기폐전미회수
                    SELECT  CASE WHEN A.MTR_GRD >= 10 OR A.MTR_GRD IN (2,3,5,7) THEN '20'--KS규격 2,3,5,7등급 계량기는 철거계량기구분을 폐기로. 
                                 WHEN A.MTR_KIND = '70'  THEN '20' -- 각도변형 재개발_재건축은 폐기. (요청서번호 : 2023030139)
                                 WHEN A.MTR_KIND IN ('10','30','80') THEN
                                 CASE WHEN A.MTR_MODEL_CD BETWEEN '10546' AND '10551'
                                           OR A.MTR_MODEL_CD BETWEEN '10633' AND '10638' THEN '20'  -- 동양계기 모델은 반납시 폐기로 분류. (요청서번호 2019060018)
                                      WHEN A.MTR_GRD = 6    AND A.MTR_NEW_FIX_FLAG = '10' AND D.MAKER_NUM = '10001'  THEN '20'    -- 극동기전 6등급 신품은 무조건 폐기. 40,41걸면 폐기안되는 케이스나오므로 여긴 걸면안됨.
                                      WHEN C.MTR_REMOVE_DEL_WHY IN ('40','41') AND A.MTR_GRD = 2.5  THEN                          -- 재개발,재건축 일때만 처리하도록 변경 20160408
                                           CASE WHEN SUBSTR(A.MTR_ID_NUM,1,2) > SUBSTR(TO_CHAR(SYSDATE,'YYYY')-13,3,2)  THEN '10'   -- 2.5등급 수리품중 제조년12년이전은 폐기, 그외는 재생
                                                ELSE '20'                                     
                                            END
                                      ELSE --C31.PKS_C3_FUNC_01.GET_MTR_COLL_CD_FLAG('2', A.MTR_NUM, '', '', A.MTR_GRD, '', A.MTR_NEW_FIX_FLAG)
                                        CASE WHEN A.MTR_NEW_FIX_FLAG = '20' THEN  '20' 
                                             ELSE '10' END  -- 회수계량기가 수리품은 모두 폐기
                                END    
                            ELSE '20' END AS REMOVE_MTR_FLAG      --철거계량기구분
                      INTO  ls_remove_mtr_flag
                      FROM  C31.C3AT_MTR_REPL_HIST  A
                           ,C31.C3AT_MTR_REMOVE_DEL C
                           ,C31.C3AT_MTR_MODEL      D
                     WHERE A.MTR_NUM               = C.MTR_NUM 
                       AND A.MTR_CHG_YMD           = C.MTR_CHG_YMD
                       AND A.MTR_CHG_SEQ           = C.MTR_CHG_SEQ
                       AND A.MTR_MODEL_CD          = D.MTR_MODEL_CD
                       AND A.MTR_NUM = as_mtr_num
                       AND A.MTR_CHG_YMD = as_mtr_base_ymd
                       AND A.MTR_CHG_SEQ = as_mtr_seq
                       ;
                  WHEN as_wk_fg = '23' THEN --23.계량기변경공사삭제
                    SELECT  CASE WHEN A.MTR_GRD >= 10 OR A.MTR_GRD IN (2,3,5,7) THEN '20'--KS규격 2,3,5,7등급 계량기는 철거계량기구분을 폐기로. 
                                 WHEN A.MTR_KIND = '70'  THEN '20' -- 각도변형 재개발_재건축은 폐기. (요청서번호 : 2023030139)
                                 WHEN A.MTR_KIND IN ('10','30','80') THEN
                                 CASE WHEN A.MTR_MODEL_CD BETWEEN '10546' AND '10551'
                                           OR A.MTR_MODEL_CD BETWEEN '10633' AND '10638' THEN '20'  -- 동양계기 모델은 반납시 폐기로 분류. (요청서번호 2019060018)
                                      WHEN A.MTR_GRD = 6    AND A.MTR_NEW_FIX_FLAG = '10' AND C.MAKER_NUM = '10001'  THEN '20'    -- 극동기전 6등급 신품은 무조건 폐기. 40,41걸면 폐기안되는 케이스나오므로 여긴 걸면안됨.
                                      ELSE --C31.PKS_C3_FUNC_01.GET_MTR_COLL_CD_FLAG('2', A.MTR_NUM, '', '', A.MTR_GRD, '', A.MTR_NEW_FIX_FLAG)
                                        CASE WHEN A.MTR_NEW_FIX_FLAG = '20' THEN  '20' 
                                             ELSE '10' END  -- 회수계량기가 수리품은 모두 폐기
                                 END    
                            ELSE '20' END AS REMOVE_MTR_FLAG      --철거계량기구분
                      INTO  ls_remove_mtr_flag
                      FROM  C31.C3AT_MTR  A
                           ,C31.C3AT_MTR_MODEL      C
                     WHERE A.MTR_MODEL_CD          = C.MTR_MODEL_CD
                       AND A.MTR_NUM = as_mtr_num
                       ;      

                 ELSE
                      ls_remove_mtr_flag := ' ' ;
             END CASE;

        EXCEPTION
            WHEN OTHERS THEN
                ls_remove_mtr_flag := ' ' ;
        END ;

        RETURN ls_remove_mtr_flag ;

    END GET_MTR_COLL_CD_FLAG;